[Unit]
Description=CamillaGUI Web Interface for CamillaDSP
After=network.target camilladsp.service
Requires=camilladsp.service

[Service]
Type=simple
User={{ camilladsp_user }}
Group={{ camilladsp_group }}
ExecStart={{ camilladsp_install_dir }}/camillagui_venv/bin/python {{ camilladsp_install_dir }}/gui/main.py
WorkingDirectory={{ camilladsp_install_dir }}
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target